[user]
    name = Constantine Parkhimovich
    email = cparkhimovich@gmail.com
    signingkey = 29DAE68AD3484DBB84CCBAFC8DF1821B515CA8A2

[commit]
    gpgsign = true

[github]
    user = blackelk

[alias]
    a = add
    b = branch
    c = commit
    ch = checkout
    d = diff
    f = fetch
    l = log
    m = merge
    s = status

[color.diff]
    oldMoved = "#bb6666"
    newMoved = "#66bb66"
    old = "#bb6666"
    new = "#66bb66"

[color.status]
    added = "#66bb66"
    untracked = "#bb66bb"
    changed = "#bb6666"

[core]
    editor = vim

[init]                                                                                                                                  
    defaultBranch = main

[pull]
    rebase = false
