[user]
	name = Constantine Parkhimovich
	email = cparkhimovich@gmail.com
[github]
	user = blackelk

[alias]
    a = add
    b = branch
    c = commit
    ch = checkout
    d = diff
    f = fetch
    l = log
    m = merge
    s = status

[color.status]
    added = "#66ff66"
    untracked = "#ff6666"
    changed = "#ff6666"

[color.diff]
    oldMoved = "#ff6666"
    newMoved = "#66ff66"
    old = "#ff6666"
    new = "#66ff66"
